In [1]:
import numpy as np
import pandas as pd

In [9]:
veri = pd.DataFrame({'Kişi':['mete','mete','ferhat','ferhat','batu','batu','batu'],
                    'Kesit':['a','a','b','b','c','c','c'],
                    'Sonuc':[1,1,0,0,0,2,2]})

In [10]:
veri

     Kişi Kesit  Sonuc
0    mete     a      1
1    mete     a      1
2  ferhat     b      0
3  ferhat     b      0
4    batu     c      0
5    batu     c      2
6    batu     c      2

In [11]:
veri.duplicated()

0    False
1     True
2    False
3     True
4    False
5    False
6     True
dtype: bool

In [12]:
veri.drop_duplicates()

     Kişi Kesit  Sonuc
0    mete     a      1
2  ferhat     b      0
4    batu     c      0
5    batu     c      2

In [13]:
veri = pd.DataFrame({'Kişi':['mete','mete','ferhat','ferhat','batu','batu','batu'],
                    'Kesit':['a','a','b','b','c','c','c'],
                    'Sonuc':[1,1,0,0,0,2,2]})

In [14]:
veri

     Kişi Kesit  Sonuc
0    mete     a      1
1    mete     a      1
2  ferhat     b      0
3  ferhat     b      0
4    batu     c      0
5    batu     c      2
6    batu     c      2

In [15]:
veri.drop_duplicates(['Kesit'])

     Kişi Kesit  Sonuc
0    mete     a      1
2  ferhat     b      0
4    batu     c      0