In [1]:
import numpy as np
import pandas as pd

In [2]:
veri = pd.read_csv("eksikveriler.csv")

In [10]:
veri.head(20)

   eegkanal  frekans  glukoz   yas hasta
0     F3-C3       13      70  40.0     e
1     F3-C3       12      36  41.0     e
2     F3-C3        6      88  60.0     h
3     F3-C3        8      98  54.0     h
4     F3-C3       11      70  52.0     e
5     F3-C3       11      90  30.0     e
6     F3-C3        8      80  25.0     e
7     F3-C3        6      95  43.0     e
8     F3-C3        8      90  47.0     h
9     F4-C4        8     125  69.0     e
10    F4-C4        8      87  40.0     h
11    F4-C4        9      86  37.0     h
12    F4-C4        5      78  50.0     h
13    F4-C4       11      88   NaN     h
14    F4-C4       10      79  60.0     h
15    T4-T6        5      67   NaN     e
16    T4-T6       11      69   NaN     e
17    T4-T6       10      90  45.0     e
18    T4-T6        7      70  46.0     e
19    T4-T6        8      60  45.0     h

In [4]:
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
eegkanal    20 non-null object
frekans     20 non-null int64
glukoz      20 non-null int64
yas         17 non-null float64
hasta       20 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 928.0+ bytes

In [5]:
veri.hasta.value_counts()

e    11
h     9
Name: hasta, dtype: int64

In [6]:
veri.eegkanal.value_counts()

F3-C3    9
F4-C4    6
T4-T6    5
Name: eegkanal, dtype: int64

In [7]:
veri.isnull().sum()

eegkanal    0
frekans     0
glukoz      0
yas         3
hasta       0
dtype: int64

In [8]:
veri.isnull().sum().sum()

3

In [9]:
from sklearn.impute import SimpleImputer

In [11]:
eksikVeriTamamlama = SimpleImputer(missing_values=np.nan, strategy='mean')

In [12]:
eksikVeriTamamlama

SimpleImputer()

In [13]:
veri.head()

  eegkanal  frekans  glukoz   yas hasta
0    F3-C3       13      70  40.0     e
1    F3-C3       12      36  41.0     e
2    F3-C3        6      88  60.0     h
3    F3-C3        8      98  54.0     h
4    F3-C3       11      70  52.0     e

In [14]:
frekansGlukozYas = veri.iloc[:,1:4]
frekansGlukozYas

    frekans  glukoz   yas
0        13      70  40.0
1        12      36  41.0
2         6      88  60.0
3         8      98  54.0
4        11      70  52.0
5        11      90  30.0
6         8      80  25.0
7         6      95  43.0
8         8      90  47.0
9         8     125  69.0
10        8      87  40.0
11        9      86  37.0
12        5      78  50.0
13       11      88   NaN
14       10      79  60.0
15        5      67   NaN
16       11      69   NaN
17       10      90  45.0
18        7      70  46.0
19        8      60  45.0

In [15]:
veri

   eegkanal  frekans  glukoz   yas hasta
0     F3-C3       13      70  40.0     e
1     F3-C3       12      36  41.0     e
2     F3-C3        6      88  60.0     h
3     F3-C3        8      98  54.0     h
4     F3-C3       11      70  52.0     e
5     F3-C3       11      90  30.0     e
6     F3-C3        8      80  25.0     e
7     F3-C3        6      95  43.0     e
8     F3-C3        8      90  47.0     h
9     F4-C4        8     125  69.0     e
10    F4-C4        8      87  40.0     h
11    F4-C4        9      86  37.0     h
12    F4-C4        5      78  50.0     h
13    F4-C4       11      88   NaN     h
14    F4-C4       10      79  60.0     h
15    T4-T6        5      67   NaN     e
16    T4-T6       11      69   NaN     e
17    T4-T6       10      90  45.0     e
18    T4-T6        7      70  46.0     e
19    T4-T6        8      60  45.0     h

In [16]:
from sklearn.impute import SimpleImputer
eksikVeriTamamlama = SimpleImputer(missing_values=np.nan, strategy='mean')
eksikVeriTamamlama=eksikVeriTamamlama.fit(veri.iloc[:,1:4])
veri.iloc[:,1:4] = eksikVeriTamamlama.transform(veri.iloc[:,1:4])

In [17]:
veri

   eegkanal  frekans  glukoz        yas hasta
0     F3-C3     13.0    70.0  40.000000     e
1     F3-C3     12.0    36.0  41.000000     e
2     F3-C3      6.0    88.0  60.000000     h
3     F3-C3      8.0    98.0  54.000000     h
4     F3-C3     11.0    70.0  52.000000     e
5     F3-C3     11.0    90.0  30.000000     e
6     F3-C3      8.0    80.0  25.000000     e
7     F3-C3      6.0    95.0  43.000000     e
8     F3-C3      8.0    90.0  47.000000     h
9     F4-C4      8.0   125.0  69.000000     e
10    F4-C4      8.0    87.0  40.000000     h
11    F4-C4      9.0    86.0  37.000000     h
12    F4-C4      5.0    78.0  50.000000     h
13    F4-C4     11.0    88.0  46.117647     h
14    F4-C4     10.0    79.0  60.000000     h
15    T4-T6      5.0    67.0  46.117647     e
16    T4-T6     11.0    69.0  46.117647     e
17    T4-T6     10.0    90.0  45.000000     e
18    T4-T6      7.0    70.0  46.000000     e
19    T4-T6      8.0    60.0  45.000000     h

In [18]:
veri = pd.read_csv("eksikveriler.csv")
from sklearn.impute import SimpleImputer
eksikVeriTamamlama = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
eksikVeriTamamlama=eksikVeriTamamlama.fit(veri.iloc[:,1:4])
veri.iloc[:,1:4] = eksikVeriTamamlama.transform(veri.iloc[:,1:4])

In [19]:
veri

   eegkanal  frekans  glukoz   yas hasta
0     F3-C3     13.0    70.0  40.0     e
1     F3-C3     12.0    36.0  41.0     e
2     F3-C3      6.0    88.0  60.0     h
3     F3-C3      8.0    98.0  54.0     h
4     F3-C3     11.0    70.0  52.0     e
5     F3-C3     11.0    90.0  30.0     e
6     F3-C3      8.0    80.0  25.0     e
7     F3-C3      6.0    95.0  43.0     e
8     F3-C3      8.0    90.0  47.0     h
9     F4-C4      8.0   125.0  69.0     e
10    F4-C4      8.0    87.0  40.0     h
11    F4-C4      9.0    86.0  37.0     h
12    F4-C4      5.0    78.0  50.0     h
13    F4-C4     11.0    88.0  40.0     h
14    F4-C4     10.0    79.0  60.0     h
15    T4-T6      5.0    67.0  40.0     e
16    T4-T6     11.0    69.0  40.0     e
17    T4-T6     10.0    90.0  45.0     e
18    T4-T6      7.0    70.0  46.0     e
19    T4-T6      8.0    60.0  45.0     h

In [20]:
veri = pd.read_csv("eksikveriler.csv")
from sklearn.impute import SimpleImputer
eksikVeriTamamlama = SimpleImputer(missing_values=np.nan, strategy='median')
eksikVeriTamamlama=eksikVeriTamamlama.fit(veri.iloc[:,1:4])
veri.iloc[:,1:4] = eksikVeriTamamlama.transform(veri.iloc[:,1:4])
veri

   eegkanal  frekans  glukoz   yas hasta
0     F3-C3     13.0    70.0  40.0     e
1     F3-C3     12.0    36.0  41.0     e
2     F3-C3      6.0    88.0  60.0     h
3     F3-C3      8.0    98.0  54.0     h
4     F3-C3     11.0    70.0  52.0     e
5     F3-C3     11.0    90.0  30.0     e
6     F3-C3      8.0    80.0  25.0     e
7     F3-C3      6.0    95.0  43.0     e
8     F3-C3      8.0    90.0  47.0     h
9     F4-C4      8.0   125.0  69.0     e
10    F4-C4      8.0    87.0  40.0     h
11    F4-C4      9.0    86.0  37.0     h
12    F4-C4      5.0    78.0  50.0     h
13    F4-C4     11.0    88.0  45.0     h
14    F4-C4     10.0    79.0  60.0     h
15    T4-T6      5.0    67.0  45.0     e
16    T4-T6     11.0    69.0  45.0     e
17    T4-T6     10.0    90.0  45.0     e
18    T4-T6      7.0    70.0  46.0     e
19    T4-T6      8.0    60.0  45.0     h

In [21]:
veri.isnull().sum()

eegkanal    0
frekans     0
glukoz      0
yas         0
hasta       0
dtype: int64

In [22]:
veri

   eegkanal  frekans  glukoz   yas hasta
0     F3-C3     13.0    70.0  40.0     e
1     F3-C3     12.0    36.0  41.0     e
2     F3-C3      6.0    88.0  60.0     h
3     F3-C3      8.0    98.0  54.0     h
4     F3-C3     11.0    70.0  52.0     e
5     F3-C3     11.0    90.0  30.0     e
6     F3-C3      8.0    80.0  25.0     e
7     F3-C3      6.0    95.0  43.0     e
8     F3-C3      8.0    90.0  47.0     h
9     F4-C4      8.0   125.0  69.0     e
10    F4-C4      8.0    87.0  40.0     h
11    F4-C4      9.0    86.0  37.0     h
12    F4-C4      5.0    78.0  50.0     h
13    F4-C4     11.0    88.0  45.0     h
14    F4-C4     10.0    79.0  60.0     h
15    T4-T6      5.0    67.0  45.0     e
16    T4-T6     11.0    69.0  45.0     e
17    T4-T6     10.0    90.0  45.0     e
18    T4-T6      7.0    70.0  46.0     e
19    T4-T6      8.0    60.0  45.0     h

In [23]:
veri.hasta.unique()

array(['e', 'h'], dtype=object)

In [24]:
veri.eegkanal.unique()

array(['F3-C3', 'F4-C4', 'T4-T6'], dtype=object)

In [25]:
hastaVeri = veri.hasta

In [26]:
hastaVeri

0     e
1     e
2     h
3     h
4     e
5     e
6     e
7     e
8     h
9     e
10    h
11    h
12    h
13    h
14    h
15    e
16    e
17    e
18    e
19    h
Name: hasta, dtype: object

In [27]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [28]:
veri.hasta = le.fit_transform(veri.hasta)

In [29]:
veri

   eegkanal  frekans  glukoz   yas  hasta
0     F3-C3     13.0    70.0  40.0      0
1     F3-C3     12.0    36.0  41.0      0
2     F3-C3      6.0    88.0  60.0      1
3     F3-C3      8.0    98.0  54.0      1
4     F3-C3     11.0    70.0  52.0      0
5     F3-C3     11.0    90.0  30.0      0
6     F3-C3      8.0    80.0  25.0      0
7     F3-C3      6.0    95.0  43.0      0
8     F3-C3      8.0    90.0  47.0      1
9     F4-C4      8.0   125.0  69.0      0
10    F4-C4      8.0    87.0  40.0      1
11    F4-C4      9.0    86.0  37.0      1
12    F4-C4      5.0    78.0  50.0      1
13    F4-C4     11.0    88.0  45.0      1
14    F4-C4     10.0    79.0  60.0      1
15    T4-T6      5.0    67.0  45.0      0
16    T4-T6     11.0    69.0  45.0      0
17    T4-T6     10.0    90.0  45.0      0
18    T4-T6      7.0    70.0  46.0      0
19    T4-T6      8.0    60.0  45.0      1

In [35]:
eeg = veri.iloc[:,0:1].values
eeg

array([['F3-C3'],
       ['F3-C3'],
       ['F3-C3'],
       ['F3-C3'],
       ['F3-C3'],
       ['F3-C3'],
       ['F3-C3'],
       ['F3-C3'],
       ['F3-C3'],
       ['F4-C4'],
       ['F4-C4'],
       ['F4-C4'],
       ['F4-C4'],
       ['F4-C4'],
       ['F4-C4'],
       ['T4-T6'],
       ['T4-T6'],
       ['T4-T6'],
       ['T4-T6'],
       ['T4-T6']], dtype=object)

In [36]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
eeg = ohe.fit_transform(eeg).toarray()

In [37]:
eegVeri = pd.DataFrame(data=eeg,index=range(20),columns=["F3-C3","F4-C4","T4-T6"])

In [38]:
eegVeri

    F3-C3  F4-C4  T4-T6
0     1.0    0.0    0.0
1     1.0    0.0    0.0
2     1.0    0.0    0.0
3     1.0    0.0    0.0
4     1.0    0.0    0.0
5     1.0    0.0    0.0
6     1.0    0.0    0.0
7     1.0    0.0    0.0
8     1.0    0.0    0.0
9     0.0    1.0    0.0
10    0.0    1.0    0.0
11    0.0    1.0    0.0
12    0.0    1.0    0.0
13    0.0    1.0    0.0
14    0.0    1.0    0.0
15    0.0    0.0    1.0
16    0.0    0.0    1.0
17    0.0    0.0    1.0
18    0.0    0.0    1.0
19    0.0    0.0    1.0

In [39]:
veri

   eegkanal  frekans  glukoz   yas  hasta
0     F3-C3     13.0    70.0  40.0      0
1     F3-C3     12.0    36.0  41.0      0
2     F3-C3      6.0    88.0  60.0      1
3     F3-C3      8.0    98.0  54.0      1
4     F3-C3     11.0    70.0  52.0      0
5     F3-C3     11.0    90.0  30.0      0
6     F3-C3      8.0    80.0  25.0      0
7     F3-C3      6.0    95.0  43.0      0
8     F3-C3      8.0    90.0  47.0      1
9     F4-C4      8.0   125.0  69.0      0
10    F4-C4      8.0    87.0  40.0      1
11    F4-C4      9.0    86.0  37.0      1
12    F4-C4      5.0    78.0  50.0      1
13    F4-C4     11.0    88.0  45.0      1
14    F4-C4     10.0    79.0  60.0      1
15    T4-T6      5.0    67.0  45.0      0
16    T4-T6     11.0    69.0  45.0      0
17    T4-T6     10.0    90.0  45.0      0
18    T4-T6      7.0    70.0  46.0      0
19    T4-T6      8.0    60.0  45.0      1

In [40]:
veri2 = veri.iloc[:,1:5]
yeniVeri = pd.DataFrame(data=veri2, index =range(20), columns=["frekans","glukoz","yas","hasta"])

In [41]:
yeniVeri

    frekans  glukoz   yas  hasta
0      13.0    70.0  40.0      0
1      12.0    36.0  41.0      0
2       6.0    88.0  60.0      1
3       8.0    98.0  54.0      1
4      11.0    70.0  52.0      0
5      11.0    90.0  30.0      0
6       8.0    80.0  25.0      0
7       6.0    95.0  43.0      0
8       8.0    90.0  47.0      1
9       8.0   125.0  69.0      0
10      8.0    87.0  40.0      1
11      9.0    86.0  37.0      1
12      5.0    78.0  50.0      1
13     11.0    88.0  45.0      1
14     10.0    79.0  60.0      1
15      5.0    67.0  45.0      0
16     11.0    69.0  45.0      0
17     10.0    90.0  45.0      0
18      7.0    70.0  46.0      0
19      8.0    60.0  45.0      1

In [43]:
yeniVeri = pd.concat([eegVeri,yeniVeri],axis=1)

In [44]:
yeniVeri

    F3-C3  F4-C4  T4-T6  frekans  glukoz   yas  hasta
0     1.0    0.0    0.0     13.0    70.0  40.0      0
1     1.0    0.0    0.0     12.0    36.0  41.0      0
2     1.0    0.0    0.0      6.0    88.0  60.0      1
3     1.0    0.0    0.0      8.0    98.0  54.0      1
4     1.0    0.0    0.0     11.0    70.0  52.0      0
5     1.0    0.0    0.0     11.0    90.0  30.0      0
6     1.0    0.0    0.0      8.0    80.0  25.0      0
7     1.0    0.0    0.0      6.0    95.0  43.0      0
8     1.0    0.0    0.0      8.0    90.0  47.0      1
9     0.0    1.0    0.0      8.0   125.0  69.0      0
10    0.0    1.0    0.0      8.0    87.0  40.0      1
11    0.0    1.0    0.0      9.0    86.0  37.0      1
12    0.0    1.0    0.0      5.0    78.0  50.0      1
13    0.0    1.0    0.0     11.0    88.0  45.0      1
14    0.0    1.0    0.0     10.0    79.0  60.0      1
15    0.0    0.0    1.0      5.0    67.0  45.0      0
16    0.0    0.0    1.0     11.0    69.0  45.0      0
17    0.0    0.0    1.0     10.0    90.0  45.0      0
18    0.0    0.0    1.0      7.0    70.0  46.0      0
19    0.0    0.0    1.0      8.0    60.0  45.0      1

In [45]:
yeniVeri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
F3-C3      20 non-null float64
F4-C4      20 non-null float64
T4-T6      20 non-null float64
frekans    20 non-null float64
glukoz     20 non-null float64
yas        20 non-null float64
hasta      20 non-null int32
dtypes: float64(6), int32(1)
memory usage: 1.1 KB

In [46]:
iris = pd.read_csv("iris.csv")
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [47]:
iris.Species.value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: Species, dtype: int64

In [48]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [49]:
iris.Species = le.fit_transform(iris.Species)

In [50]:
iris

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [52]:
iris.Species.value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64